<div class="row">
                <div class="thumbnail2" >
                    <img src="{{ film.img }}" alt="..." class="img-responsive">
                    <div class="caption2">
                        <h3>{{ film.title }} ({{film.date}})</h3>
						<div class="rate">Ocena: {{ film.rate }}</div>
                        <p class="date">{{ film.genre }}</p>
						<hr>
						<div class="descripton">{{ film.description }}</div>
						<form action="/5c3d38ee0e63740adcdbad96" method="post">
							<input type="hidden" name="_csrf" value="{{ csrfToken }}">
							<button class="button" type="submit"> Buy</button>
							<div class="price">{{ film.price }}PLN</div>
						</form>						
                    </div>
						
					
                </div>
    </div>